<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div style="color:red;background:white;margin:0px auto;padding:15px;">
                <h4 style="text-align: center;">Alert!!{{message}}</h4>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <form action="/submit" method="post">
            <div class="header">
                <h1>Admit Card</h1>
            </div>
            <div class="hall-ticket">   
                <label for="ticket">Roll Number</label><br>
                <input type="text" name="ticket" maxlength="20" id="">
            </div>
            <div class="date-of-birth">
                <label for="dob">Date Of Birth</label><br>
                <input type="date" name="dob" min="1947-01-01" max="2021-03-01" pattern="\d{4}-\d{2}-\d{2}" id="">
            </div>
            <button type="submit" class="btn">Submit</button>
            <p class="demo">For Demo:- <br> Username : 10004001 <br>DOB : 01 Jan 2004</p>
        </form>
    </div>
</body>
</html>